@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* LAYOUT */
header {
  position: relative;
  height: 10vh;
  /* border-bottom: 7px solid #eee; */
}

main {
  height: 90vh;
  color: #eee;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.life-left {
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-size: 3rem;
}

.score-right {
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 3rem;
}

.life-label {
  margin-bottom: 2rem;
}

.score-label {
  margin-bottom: 2rem;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

.start-sec {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-label {
  color: aqua;
  margin-bottom: 30rem;
  text-transform: uppercase;
}

#virus-img-1 {
  width: 5rem;
}

.v-laser {
  width: 5rem;
  position: relative;
}

/* #laser-img {
  width: 5rem;
} */

/* .needle-shooter-img2 {
  position: absolute;
  width: 4rem;
  left: 0;
  top: 80%;
} */

#needle-shooter-img {
  position: absolute;
  width: 4rem;
  left: 50%;
  top: 80%;
  /* position: absolute; */
  /* left: 0;
  top: 0; */
  /* height: 15;
  width: 15; */
  /* margin-top: 2rem; */
}

.hidden {
  display: none;
}

/* #main-play-area {
  background-image: url(01.png);
} */
